@{
    ViewBag.Title = "Portfolio";
    Layout = "~/Views/Shared/_LayoutPortal.cshtml";
}

@*Page Title*@
<div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12" style="padding-top: 0">
        <h2 class="page-header" style="margin-top: 22px; margin-bottom: 10px;">
            @ViewBag.Title
        </h2>
    </div>
</div>

@*Page Filter Controls*@
<div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12">
        <span class="pull-right">
            <button class="btn btn-primary btn-sm" onclick="reloadBtnClick();" type="button">
                Reload&nbsp;&nbsp;<span aria-hidden="true" class="glyphicon glyphicon-refresh"></span>
            </button>
        </span>
    </div>
</div>
<hr style="margin-top: 10px;"/>

@*Page Content*@
<div id="container">
    <div id="content" style="margin-top: 20px; margin-bottom: 10px;">
    </div>
</div>

@*View model container*@
<div class="modal fade" id="popupModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content" id="popupcontainer">

        </div>
    </div>
</div>


@section scripts
{
    <script type="text/javascript">


        var loadContent_url = "@Html.Raw(Url.Action("PortfolioOverview", "Portfolio"))";

        var addContent_url = "@Html.Raw(Url.Action("AddPortfolio", "Portfolio"))";

        var removeContent_url = "@Html.Raw(Url.Action("RemovePortfolio", "Portfolio"))";
        
    </script>
    
    <script src="~/Scripts/portal/portal-default.js"></script>
}