@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MvcRazorToPdf</title>
    

    @RenderSection("css");

</head>
<body>
    @RenderBody()
</body>
</html>
